// Body
$body-bg: #f8fafc;

// Breakpoints;
$mobile-max: 800px;
$mobile-min: 801px;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$lightGrey: #F5F5F5;
$lightGreyText: #757575;
$grey: #37474F;
$greyText: rgba(255, 255, 255, 0.56);
$darkGrey: #263238;
$darkGreyText: #eceff1;
$highlight: #07ACC2;
$highlightText: #37474F;
$shadow: rgba(0,0,0,.5);
$error: #ab000d;

$buttonMain: #00bcd4;
$buttonMainHover: #009baf;
$buttonMainText: #fff;
$buttonWarning: #ab000d;
$buttonWarningHover: #e53935;
$buttonWarningText: #fff;